{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <a class="offcanvas-trigger left-off-canvas-toggle menu-icon" href="#" ><span></span></a>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Apperclass</label></li>
                <li><a href="http://blog.apperclass.com">Blog</a></li>
                <li><a href="mailto:info@apperclass.com">Contacts</a></li>
            </ul>
        </aside>

        {# MAIN CONTENT #}
        {% block main '' %}

        <footer class="page-footer">
            <p>{% trans %}landing.footer.text{% endtrans %}<br/><br/>

                {% trans %}landing.footer.locale{% endtrans %}

                {% for locale in interface_translation_locales  %}
                    <a {% if app.request.locale == locale.code %}class="selected"{% endif %}
                            href="{{ url('homepage', {'_locale': locale.code}) }}">{{ locale.code }}</a>
                {% endfor %}

            </p>
        </footer>

        <a class="exit-off-canvas"></a>

        {# FOOTER JAVASCRIPTS #}
        {% javascripts '@frontend_footer_javascripts' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).foundation();
            $(document).ready(function(){
                if (!Modernizr.svg) {
                    $(".logo").attr("src", "images/logo-251-318.png");
                }
            });
        </script>
    </div>
</div>
{% endblock %}
