body {
    background-color: $apper-blue;
}
.block-section {
    padding: 30px 0 50px 0;
}

.block-centered {
    text-align: center;
}

.call-to-action {
    padding: 10px 0 30px 0;
}

.section-separator{
    background-color: white;
    height: 1px;
    margin: 20px 48%;
    opacity: 0.4;
    clear: both;
}

.home-panel{

    padding: 70px;
    color: white;
    text-align: center;

    .logo{
        margin: 0 auto;
        display: block;
    }

    .headline {
        padding: 40px 0 60px 40px;
    }



    h1 {
        font-size: 38px;
    }

    h2{
        font-size: 20px;
        line-height: 37px;
        max-width: 1200px;
        margin: 0 auto;
    }
}

//
// Until Small Desktop
//

@media only screen and (max-width: 1280px){
    .home-panel{
        padding: 40px;

        .headline {
            padding: 10px 0 20px 0;
        }

        .logo{
            width: 170px;
        }

        h1 {
            font-size: 25px;
        }

        h2{
            font-size: 16px;
            line-height: 25px;
            max-width: 1000px;
        }

    }

}

.page-footer{
    background: $apper-blue-dark;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px;
}

//
// Until Tablet
//

@media only screen and (max-width: 960px){
    .home-panel{

        .logo{
            width: 140px;
        }

        h1 {
            font-size: 24px;
        }

        h2{
            font-size: 16px;
            line-height: 24px;
        }

    }
}

//
// Until Mobile
//

@media only screen and (max-width: 640px){
    .home-panel{
        padding: 20px;

        .logo{
            width: 100px;
        }

        h1 {
            font-size: 20px;
        }

        h2{
            font-size: 14px;
            line-height: 22px;
        }

    }
}
