.button{
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background 0.5s;

    .icon{
        font-size: 36px;
        padding-left: 15px;
        position:relative;
        top: 7px;
    }

    &.large{
        padding: 30px 40px;
        border-radius: 10px;
        font-size: 24px;
    }

    &.acqua{
        color: white;
        background: $apper-acqua;
        &:hover{
            background: $apper-acqua-light;
        }
    }
}



//
// Until Small Desktop
//

@media only screen and (max-width: 1366px){
    .button{
        &.large{
            padding: 15px 20px;
            font-size: 16px;
        }

        .icon{
            font-size: 26px;
            padding-left: 10px;
        }
    }
}


//
// Until Mobile
//

@media only screen and (max-width: 640px){
    .button{
        &.large{
            padding: 15px 20px;
            font-size: 14px;
        }

        .icon{
            font-size: 22px;
            padding-left: 10px;
        }
    }
}