.team{
    text-align: center;
    z-index: 1;
    position: relative;

    .avatar, .mask, .line, .picture{
        width: $avatar-size;
        height: $avatar-size;
    }



    .member {
        display: inline-block;
        padding: 0 30px;
        width: 350px;
        vertical-align: top;
        margin-bottom: 10px;

        h1{
            color: white;
            font-size: 24px;
            text-align: center;
            margin-top: 10px;
        }
        h2{
            color: $apper-acqua;
            font-size: 20px;
            text-align: center;
        }

        .icon{
            background: $apper-acqua;
            color: white;
            position: absolute;
            bottom: 26px;
            right: 26px;
            width: 57px;
            height: 57px;
            line-height: 57px;
            font-size: 32px;
            text-align: center;
            border-radius: 40px;

            z-index: 1000;
        }

    }

    .avatar{
        cursor: pointer;
        position: relative;
        margin: 0 auto;
    }

    .mask{

        display: block;
        transform: scale(1,1);
        transition-timing-function: ease-out;
        transition-duration: 0.6s;
        z-index:500;
        position: absolute;


    }

    .avatar:hover .mask{
        -webkit-transform: scale(1.07,1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 0.3s;
        -moz-transform: scale(1.07,1.07);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 0.3s;
    }

    .line {
        transform: scale(1,1);
        transition-timing-function: ease-out;
        transition-duration: 0.6s;
        opacity: 0;
        z-index:600;
        position: absolute;
        display: block;
    }

    .avatar:hover .line{
        display:block;
        opacity: 1;
        -webkit-transform: scale(1.20,1.20);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 0.3s;
        -moz-transform: scale(1.20,1.20);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 0.3s;
    }

    .picture {
        display: block;
        position: absolute;
        transition-timing-function: ease-out;
        transition-duration: 0.6s;
        z-index: 100;
    }

}

//
// Until Small Desktop
//

@media only screen and (max-width: 1500px){
    .team{
        .member{
            max-width: 275px;
            width: auto;

            h1 {
                font-size: 16px;
                margin: 5px;
            }
            h2 {
                font-size: 14px;
                margin: 5px;
            }
            .icon{
                bottom: 12px;
                right: 12px;
                width: 38px;
                height: 38px;
                line-height: 38px;
                font-size: 25px;
                border-radius: 40px;
            }
        }

        .avatar, .mask, .line, .picture{
            width: $avatar-small-size;
            height: $avatar-small-size;
        }
    }
}
