body {
    font-family: 'montserratlight', 'Helvetica', helvetica, arial, sans-serif;
}

.section-title{
    color: #FFF;
    font-size: 25px;
    text-align: center;
}

.page-title{
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    padding: 30px 0;
    color: #FFF;
}