body {
    background-color: $apper-blue;
    color: #FFd;
}
.block-section {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 30px 0 50px 0;
}

a, a:active, a:focus, a img{
    outline: none;
}

img{
    border: 0;
}

ul.off-canvas-list li label{
    display: block;
}

.block-centered {
    text-align: center;
}

.call-to-action {
    padding: 10px 0 30px 0;
}

.offcanvas-trigger{
    position: absolute !important;
    z-index: 100000 !important;
}

.shader-container{
    height:400px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #output{
        opacity: 0.25;
    }
}

.section-separator{
    background-color: white;
    opacity: 0.1;
    height: 1px;
    margin: 20px 46%;
    clear: both;

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.home-panel{
    overflow: hidden;
    padding: 70px;
    color: white;
    text-align: center;
    position:relative;
    z-index: 1;

    .logo{
        margin: 0 auto;
        display: block;
        z-index: 1000;
        width: 251px;
        height: 318px;
        position: relative;
    }

    .headline {
        padding: 40px 0 60px 40px;
        z-index: 1000;
        position: relative;
    }

    .call-to-action{
        z-index: 1000;
        position: relative;
    }


    h1 {
        font-size: 38px;
        color: white;
        margin: 0.67em 0;
    }

    h2{
        font-size: 20px;
        line-height: 37px;
        max-width: 1200px;
        margin: 0 auto;
        color: white;
    }
}

//
// Until Small Desktop
//

@media only screen and (max-width: 1500px){
    .home-panel{
        padding: 40px;

        .headline {
            padding: 10px 0 20px 0;
        }

        .logo{
            width: 170px;
            height: auto;
        }

        h1 {
            font-size: 25px;
        }

        h2{
            font-size: 16px;
            line-height: 25px;
            max-width: 1000px;
        }

    }

}

.page-footer{
    background: $apper-blue-dark;
    color: white;
    text-align: center;
    margin: 0;
    padding: 60px 30px 60px 30px;
    a{
        color: white;
    }
    a:hover, a.selected{
        color: $apper-acqua;
        text-decoration: underline;
    }
}

//
// Until Tablet
//

@media only screen and (max-width: 960px){
    .home-panel{

        .logo{
            width: 140px;
            height: auto;
        }

        h1 {
            font-size: 24px;
        }

        h2{
            font-size: 16px;
            line-height: 24px;
        }

    }
}

//
// Until Mobile
//

@media only screen and (max-width: 640px){
    .home-panel{
        padding: 20px;

        .logo{
            width: 100px;
        }

        h1 {
            font-size: 20px;
        }

        h2{
            font-size: 14px;
            line-height: 22px;
        }

    }
}
