.portfolio{
    background: $apper-blue-dark;

    h1 {
        color: white;
    }

    h2 {
        color: $apper-acqua;
        padding: 10px 0;
    }

    p {
        color: #FFF;
        font-size: 16px;
        line-height: 23px;
    }

    .row{
        text-align: center;
    }

    .column-inline{
        text-align: left;
        display:inline-block;
        max-width: 600px;
        padding: 0 20px;
        vertical-align: middle;
    }

    img {
        width: 100%;
        display: block;
    }
}