.portfolio{
    background: $apper-blue-dark;

    h1 {
        color: white;
    }

    h2 {
        color: $apper-acqua;
        padding: 10px 0;
        font-size: 24px;
    }

    p {
        color: #FFF;
        font-size: 16px;
        line-height: 23px;
    }

    .apperclass-row{
        text-align: center;
    }

    .inline-box{
        text-align: left;
        display:inline-block;
        max-width: 600px;
        padding: 0 20px;
        vertical-align: middle;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    img {
        width: 100%;
        display: block;
    }
}