// Colors
$apper-blue: #202531;
$apper-blue-dark: #1d212c;
$apper-acqua: #2bbbb3;
$apper-acqua-light: #30d2c9;

// Content Padding
$apper-content-padding : 20px;

// Avatars
$avatar-size: 250px;
$avatar-small-size: 150px;
